.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: $gutter;

  @include respond-to(tablet) {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  background-color: $background-color;
  padding: $gutter;

  @include respond-to(mobile) {
    display: none;
  }
}
